<div class="ui container">

  <h1>Yassine Assafa</h1>

  
  <h1>Etudiant ENCG Casablanca</h1>

  <p>
    Bienvenue sur mon site web.
  </p>

  <p>

    Je m'appelle Yassinne Bienvenue dans mon site qui me présente brievement l'objectif de l'app : analyser le quotidien  d'un developpeur web pour te permettre d'améliorer/changer ce que tu souhaiterais changer.
  </p>

  <img
  src="yassinne.png" 
  alt="[Just do it , les meilleurs moments restent a jamais]"
  height="300px" 
  width="300px" 
/>
  


  <h2 class="ui dividing header">Voir les résultats </h3>
  <p>
     regarde sur l'autre page pour voir les résultats.<br>
     Ps : tu ne peux voir les résultats que si tu as assez de données.
  </p>

  <h2 class="ui dividing header">Bug report</h3>
  <p>
     Tu viens de remarquer un bug ? <br>
     Tu peux m'envoyer un mail a yassine.assafa@gmail.com en mettant dans l'objet du mail <b>"[BUG CV Yassine]"</b>
  </p>

  <h2 class="ui dividing header">En savoir plus sur le flow</h3>
  <p>
    si tu veut voir mon profil linkedin  plus en détail clique sur le lien : 
    <p> <a href="https://www.linkedin.com/in/yassine-assafa-618847182/"> linkedin</a> ?<br />
    
    <p> cliquer ici pour voir mon cv sur une autre page : <a href="page2.html.erb">la page 2</a> ?</p>
    <p> cliquer ici pour entrer en contact avec moi  : <a href="page3.html.erb">le formulaire </a> ?</p>
  </p>



</div>

<style>
  p {
    font-size: medium;
  }

  .item {
    font-size: medium;
  }
</style>
