<h1>plus de détails</h1>

<UL>

<LI> Première année ENCG Casablanca
<LI> Diplome Bac Mentien très bien
</UL >

<TABLE BORDER=1 WIDTH=300>

<TR>
<TD>Contenu 1ère cellule, 1ère ligne (vide)</TD>
<TD>Contenu 2ème cellule, 1ère ligne(JUIN)</TD>
<TD>Contenu 3ème cellule, 1ère ligne</TD>
<TD>Contenu 4ème cellule, 1ère ligne</TD>
</TR>
<TR>

 
<TD>Contenu 1ère cellule, 2ème ligne</TD>
<TD>Contenu 2ème cellule, 2ème ligne</TD>
<TD>Contenu 3ème cellule, 2ème ligne</TD>
<TD>Contenu 4ème cellule, 2ème ligne</TD>
</TR>

<TR>

<TD>Contenu 1ère cellule, 3ème ligne</TD>
<TD>Contenu 2ème cellule, 3ème ligne</TD>
<TD>Contenu 3ème cellule, 3ème ligne</TD>
<TD>Contenu 4ème cellule, 3ème ligne</TD>
</TR>

</TABLE>